<header>
    <a href="/" class="Menu">ReviewVerse</a>
    <link rel="stylesheet" href="/css/styles.css">

    <ul class="nav-menu">
        <li><a th:href="@{/}" class="Home">Home</a></li>
        <li><a th:href="@{/items/book}" class="Book">Book</a></li>
        <li><a th:href="@{/items/movie}" class="Movie">Movie/Series</a></li>
        <li><a th:href="@{/items/cartoon}" class="Cartoon">Cartoon/Anime</a></li>
        <li><a th:href="@{/items/game}" class="Game">Game</a></li>
        <li><a th:href="@{/items/category}" class="Category">Category</a></li>

        <!-- Login / Register -->
        <li th:if="${session.user == null}">
            <a th:href="@{/login}">Login</a>
        </li>

        <li th:if="${session.user != null}">
		  <a th:href="@{/user}">
		    👤
		  </a>
		</li>
    </ul>
</header>
