<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.username} + ' Profile'">User Profile</title>
    <link rel="stylesheet" href="/css/user.css">
</head>
<body>
<header>
    <a href="/" class="Menu">ReviewVerse</a>

    <ul class="nav-menu">
        <li><a th:href="@{/}" class="Home">Home</a></li>
        <li><a th:href="@{/items/book}" class="Book">Book</a></li>
        <li><a th:href="@{/items/movie}" class="Movie">Movie/Series</a></li>
        <li><a th:href="@{/items/cartoon}" class="Cartoon">Cartoon/Anime</a></li>
        <li><a th:href="@{/items/game}" class="Game">Game</a></li>
        <li><a th:href="@{/items/category}" class="Category">Category</a></li>

        <!-- Login / Register -->
        <li th:if="${session.user == null}">
            <a th:href="@{/login}" class="active">Login</a>
        </li>

        <li th:if="${session.user != null}">
		  <a th:href="@{/user}" class="active">
		    👤
		  </a>
		</li>
    </ul>
</header>


<div class="profile-container">
    <h2 th:text="${user.username}">Username</h2>
    <p>Email: <span th:text="${user.email}">email@example.com</span></p>
    <a href="/logout" class="logout-btn">Logout</a>
</div>

</body>
</html>
